icon($num)
  &.decrease
    bgImg('images/decrease_'+$num)
  &.discount
    bgImg('images/discount_'+$num)
  &.guarantee
    bgImg('images/guarantee_'+$num)
  &.invoice
    bgImg('images/invoice_'+$num)
  &.special
    bgImg('images/special_'+$num)
bgImg($url)
  background: transparent url($url + '@2x.png') no-repeat center / cover
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + '@3x.png')
ellipse()
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
